<!DOCTYPE html>
<html>
<head>
	<title></title>
	<meta charset="utf-8">
	<link rel="stylesheet" type="text/css" href="../vendor/bootstrap/css/bootstrap.min.css">
	
</head>
<body>
	<div ng-app="myApp" style="margin-top:100px;">
		<form ng-controller="firstController" class="container form-horizontal" name="myForm">
			<div class="form-group" ng-class="{'has-error':myForm.username.$invalid && myForm.username.$dirty}">
				<label class="col-sm-2">用户名</label>
				<div class="col-sm-10" >
					<input type="text" class="form-control" placeholder="用户名" ng-model="data.username" ng-required="true" name="username" ng-minlength="5" ng-maxlength="10">


					<div class="alert alert-danger help-block" ng-show="myForm.username.$error.required && myForm.username.$dirty">
						用户名长度不能为空
					</div>

					<div class="alert alert-danger help-block" ng-show="myForm.username.$error.maxlength">
						用户名长度不能超过10位
					</div>

					<div class="alert alert-danger help-block" ng-show="myForm.username.$error.minlength">
						用户名长度不能小于5位
					</div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':myForm.password.$invalid && myForm.password.$dirty}">
				<label class="col-sm-2">密码:</label>
				<div class="col-sm-10" >
					<input type="password" class="form-control" placeholder="密码" ng-model="data.password" ng-required="true" name="password" ng-minlength="5" ng-maxlength="10" autocomplete="off">


					<div class="alert alert-danger help-block" ng-show="myForm.password.$error.required && myForm.password.$dirty">
						密码长度不能为空
					</div>

					<div class="alert alert-danger help-block" ng-show="myForm.password.$error.maxlength">
						密码长度不能超过10位
					</div>

					<div class="alert alert-danger help-block" ng-show="myForm.password.$error.minlength">
						密码长度不能小于5位
					</div>
				</div>
			</div>

			<div class="form-group" ng-class="{'has-error':myForm.repassword.$invalid && myForm.repassword.$dirty}">
				<label class="col-sm-2">确认密码</label>
				<div class="col-sm-10" >
					<input type="password" autocomplete="off" class="form-control" ng-required="true" placeholder="确认密码" ng-model="data.repassword" name="repassword" >

					<div class="alert alert-danger help-block" ng-show="myForm.password.$dirty && data.password !== data.repassword">
						2次密码不一致
					</div>
				</div>
			</div>


			<div class="form-group" ng-class="{'has-error':myForm.email.$invalid && myForm.email.$dirty}">
				<label class="col-sm-2">email:</label>
				<div class="col-sm-10" >
					<input type="email" autocomplete="off" class="form-control" ng-required="true" placeholder="email" ng-model="data.email" name="email" >

					<div class="alert alert-danger help-block" ng-show="myForm.email.$error.email">
						email 无效
					</div>
				</div>
			</div>


			<div class="form-group">
				<label class="col-sm-2 control-label">性别:</label>
				<div class="col-sm-10">
					<label class="radio-inline">
						<input type="radio" name="sex" ng-model="data.sex" value="1" ng-required="true"> 男
					</label>

					<label class="radio-inline">
						<input type="radio" name="sex" ng-model="data.sex" value="0" ng-required="true"> 女
					</label>
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">爱好:</label>
				<div class="col-sm-10">
					<label class="checkbox-inline" ng-repeat="v in hobbies">
						<input type="checkbox" name="hobby[]" ng-checked="data.hobbies == undefined ? false:data.hobbies.indexOf(v.id) != -1" ng-click="toggleHobbySelection(v.id)" > {{v.name}}
					</label>

					
				</div>
			</div>

			<div class="form-group">
				<label class="col-sm-2 control-label">出生地:</label>
				<div class="col-sm-3">
					<select class="form-control" ng-change="data.city=false" ng-model="data.province" ng-options="x.id as x.name for x in cities | cityFilter:0" >
						
					</select>
				</div>

				<div class="col-sm-3">
					<select class="form-control" ng-show="data.province" ng-model="data.city" ng-options="x.id as x.name for x in cities | cityFilter:data.province">
						
					</select>
				</div>

				<div class="col-sm-3">
					<select class="form-control" ng-show="data.province && data.city" ng-model="data.district" ng-options="x.id as x.name for x in cities | cityFilter:data.city" ng-required="true">
						
					</select>
				</div>
			</div>

			<div class="form-group">
				<div class="col-sm-offset-2 col-sm-10">
					<button type="submit" class="btn btn-success" ng-disabled="myForm.$invalid">注册</button>
					<button type="button" class="btn btn-danger" ng-click="reset()">重置</button>
				</div>
			</div>

		</form>
	</div>
	

<script src="../vendor/angular/Angular.js"></script>
<script src="index.js"></script>
</body>
</html>